/* Animation Titre et Design */
.title 
{
    animation: fadeIn 1s ease-in-out;
    margin-bottom: 100px;
}

@keyframes fadeIn 
{
    from { scale: 0.65 ; }
    to { scale: 1; }
}

/* Redimensionnement Navbar */
.navbar {
    padding: 1.5rem 1rem; /* Increase vertical padding */
    font-size: 1.1rem; /* Slightly larger text */
}

.navbar-brand {
    font-size: 1.5rem; /* Larger brand/logo text */
}

.nav-link {
    font-size: 1.1rem; /* Larger nav links */
    padding: 0.75rem 1rem !important; /* More space around links */
}

p.left {
    text-align: left;
    margin: 20px;
    width: 80%;
    font-size: 1.2rem; /* Larger font size for better readability */
}

/* Espacement entre les éléments */
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
h2 {
    margin-top: 40px;
    margin-bottom: 20px;
}
p{
    margin-top: 20px;
}

body {
    margin-left: 0  ;
}